name: NPM Publish
on:
  release:
    types: [created]
jobs:
  publish:
    name: Publish on NPM Registery
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      
    - name: Install node v16
      uses: actions/setup-node@v1
      with:
          node-version: 16
          registry-url: https://registry.npmjs.org
          
    - name: Install Dependencies
      run: |
            yarn install
            yarn add -D discord.js
            git stash
      
    - name: Build package
      run: yarn build
    
    - name: Publish package
      run: yarn publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
