name: Testing Cron
on:
  schedule:
    - cron: '0 0 * * *'

jobs:
  eslint:
    name: ESLint
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: install node v14
      uses: actions/setup-node@v1
      with:
        node-version: 14

    - name: Install dependencies
      run: yarn install

    - name: ESLint
      uses: icrawl/action-eslint@v1
      env:
        CI: false
  test:
    name: Tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: install node v14
      uses: actions/setup-node@v1
      with:
        node-version: 14

    - name: Install dependencies
      run: yarn install
    
    - name: Run test scripts
      run: yarn test
